.container {
    max-width:1080px;
    margin: 0 auto;
    text-align: center;
}

.top-bar {
    background: #eaacac;
}

a{
    padding:20px 30px;
    line-height:1;

}



a,body{
    color: #201f1f
}

.fl{
    float:left;
}

.fr{
    float: right;
    display: flex;
    align-items: center;
}

.clear-f::after,
.clear-f::before {
    content: '';
    display:block;
    clear: both;
}

.header .logo{
    line-height:1;
    border:5px solid #7c5c5c;
    padding:10px 20px;
    font-size:30px;
    display:inline-block;
    margin-bottom:10px;

}

.company-name1 {
    padding:10px 20px;
    font-size:30px;
    text-align:center;
    line-height:2;

}

background-image: linear-gradient(black, white);
background-image: url("background.jpg");




*{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background:rgba(0,0,0,.1);
}


.img {
    display: flex;
    justify-content: center;
}

.space{
    border:50px solid rgba(246, 241, 241, 0);

}